*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Poppins, sans-serif;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 50px;
}

.logo img{
    width:60px;
    height:auto;
}

.menu{
    list-style:none;
    display:flex;
    gap:30px;
}

.menu a{
    text-decoration:none;
    color:black;
}

.menu a:hover{
    color:#001eff;
}

.user{
    background:#a9cbe0;
    padding:10px 20px;
    border-radius:8px;
}

.hamburger{
    display:none;
}

/* Hero */

.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:100px;
}

.left{
    width:50%;
}

.left h1{
    font-size:55px;
    line-height:1.3;
}

.left span{
    color:#1731d7;
}

.left p{
    margin:20px 0;
    color:gray;
    font-size:18px;
}

.left button{
    padding:15px 30px;
    border:none;
    background:#001eff;
    color:white;
    border-radius:10px;
    cursor:pointer;
    font-size:16px;
}

.right{
    width:50%;
    text-align:center;
}

.right img{
    width:450px;
    max-width:100%;
}

/* Tablet View */

@media (max-width:768px){

    nav{
        padding:15px 25px;
    }

    .logo img{
        width:45px;
    }

    .menu{
        gap:15px;
    }

    .menu a{
        font-size:14px;
    }

    .user{
        font-size:14px;
        padding:8px 15px;
    }

    .hero{
        padding:60px 30px;
    }

    .left h1{
        font-size:38px;
    }

    .left p{
        font-size:16px;
    }

    .right img{
        width:300px;
    }
}

/* Mobile View */

@media (max-width:480px){
    
    nav{
        padding:15px;
    }

    .menu{
        display:none;
    }

    .user{
    display:none;
    }

    .logo img{
        width:40px;
    }

    .menu-btn{
    border:none;
    background:none;
    cursor:pointer;
    font-size:24px;
    }

    .hamburger{
    display:flex;
    position:relative;
    }

    .sidebar{
    position:fixed;
    top:0;
    right:-220px;
    width:220px;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background:black;
    gap:15px;
    transition:right 0.4s ease;
    }

    .menu-btn:focus + .sidebar{
    right:0;
    }

    .sidebar a{
    color:white;
    text-decoration:none;
    }

    .hero{
        flex-direction:column;
        text-align:center;
        padding:40px 20px;
    }

    .left,
    .right{
        width:100%;
    }

    .left h1{
        font-size:30px;
    }

    .left p{
        font-size:15px;
    }

    .right{
        margin-top:30px;
    }

    .right img{
        width:250px;
    }

    .left button{
        padding:12px 25px;
        font-size:14px;
    }
}
